*{
    background-color: #ADEFD1FF;
}

.icons{ 
    font-size: 25px;
    cursor: pointer;
    color: white;

}


.pop-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffffaa;
}
.popup--header{
    font-size: 50px;
}
.form-input{
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.form-input label{
    background-color: white;
    font-size: 50px;
    text-align: center;
}

.form-input .input-field{
    width: 100%;
    border: 2px solid #aaa;
    font-size: 25px;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}
.input-field-date{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    margin: 8px 0;
}
.input-field-date span{
    background-color: white;
    width: 20%;
    font-size: 25px;
    padding: 8px;
}
.input-field-date input{
    background-color: white;
    width: 70%;
    font-size: 25px;
    border-radius: 4px;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
}
.submit-btn{
    width: 100%;
        background-color:#00203FFF;
        border: 2px solid #aaa;
        font-size: 25px;
        border-radius: 4px;
        margin: 8px 0;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        cursor: pointer;
}
.cancil-btn{
    width: 100%;
        background-color: #ADEFD1FF;
        border: 2px solid #aaa;
        font-size: 25px;
        border-radius: 4px;
        margin: 8px 0;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        cursor: pointer;
}





.header {
    display: flex;
    flex-direction: row;
    background-color: #8f7fff;
    width: 90%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-radius: 15px;
}

.header h2 {
    background-color: #8f7fff;
    font-size: 25px;
    color: white;
}
.btn{
    width: 100%;
    height: 40px;
    margin: 5px 0;
}
.btn button{
    width: 100%;
    height: inherit;
    font-size: 20px;
    background-color: #00203FFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.filter{
    width: 100%;
    height: 40px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 20px;
}
.filter select{
    width: 100%;
    height: inherit;
    background-color: #00203FFF;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}
.filter select option{
    background-color:#00203FFF ;
}